{% extends "Municipality/municipality-standard.html" %}
{% block title %}Estatisticas{% endblock %}

{% block content-header %}Estadisticas de Denuncias{% endblock %}

{% block content %}


    <div class="box box-primary">
     <div id="torta"><!-- Plotly chart will be drawn inside this DIV -->
    </div>
     </div>
            <script>
            <!--JAVASCRIPT CODE GOES HERE -->
            var data = [{
                values: [{% for key, value in type.items %} {{ value }} ,{% endfor %} ], //aqui poner los value
                labels: [{% for key, value in type.items %} "{{ key }}" ,{% endfor %} ], //aqui poner los key
                type: 'pie'
                }];

            Plotly.newPlot('torta', data);
            </script>

{% endblock %}