{% extends "User/user-standard.html" %}
{% load static %}

{% block title %}Adopta!{% endblock %}

{% block content-header %}Adoptar{% endblock %}

{% block content %}
        
        <button class="btn btn-warning" id="boton" onclick="centerOnUser()">Utilizar mi posicion</button>
        <br>
        <div id="Gmap" style="height: 500px;">
        </div>

        <script type="text/javascript">
            var map;

            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
            } else {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }

            function initMap(){
                map = new google.maps.Map(document.getElementById('Gmap'),{
                    center: {lat: -33.4573833, lng: -70.6646584}, // Posicion Beauchef
                    zoom: 15
                    }
                );

                {% if user.is_authenticated %}
                // Only one icon
                var icon = {
                    url: "/static/images/star-icon.png", // url
                    scaledSize: new google.maps.Size(40, 40), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(20,20) // anchor
                }
                {% endif %}

                // Reset the markers
                markers = new Array()
                ongs = new Array()
                infowindows = new Array()

                {% for ong in ongs %}
                    // Create one marker
                    var single_marker = new google.maps.Marker({
                            position: new google.maps.LatLng(
                                    {{ong.lat}}, {{ong.lng}}
                                ),
                            map: map
                            {% if user.is_authenticated %}
                                {% if ong.id in favs %}
                                    ,icon: icon
                                {% endif %}            
                            {% endif %}
                        })
                    markers.push(single_marker)

                    ongs.push({{ong.id}})

                    // Save the name and count animals
                    var infowindow = new google.maps.InfoWindow({
                        content: "<h3>{{ong.name}}</h3>"+
                                {% if user.is_authenticated %}
                                "<a style='margin: 0 auto;' href='"+"{% url 'user-ong-in'%}"+"'>Ver</a>"
                                /*
                                +"<img src='/static/images/star-icon.png'"+
                                " height='30' width='30' onclick='makeAJAX("+
                                "{{ request.user.id }}"+","+
                                "{{ ong.id }}"+",this"
                                +")'>"
                                */
                                {% else %}
                                "<a style='margin: 0 auto;' href='"+"{% url 'user-ong-out'%}"+"'>Ver</a>"
                                {% endif %}
                    })

                    infowindows.push(infowindow)
                {% endfor %}

                // Put the correct content into the markers
                for(var i = 0; i<infowindows.length; i++){
                    markers[i].addListener('click', function(){
                        infowindows[this.i].open(map,markers[this.i])
                    }.bind({i:i}))    
                }

                var json_string = unescape("{{ong_animals | safe | escapejs}}")
                ong_animals = JSON.parse(json_string)

            }
            /*
            function makeAJAX(user_id,ong_id,img){
                // Make request
                xmlhttp.onreadystatechange = function(){
                    if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                        alert(xmlhttp.responseText)
                    }
                };
                xmlhttp.open("GET","/putFavorite?user="+user_id+"&ong="+ong_id,true);
                xmlhttp.send();
            }*/

            function centerOnPosition(position){
                var myPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)

                map.setCenter(myPosition)

                var userMarker = new google.maps.Marker({
                    position: myPosition,
                    map: map,
                    icon: "/static/images/bluecircle.png"
                });

            }

            function centerOnUser(){
                navigator.geolocation.getCurrentPosition(centerOnPosition,fail)
            }

            function fail(error){
                alert('Fallo al centrar en posicion: ',error);
            }

            function handleAnimalType(){
                cb = cb_type.checked
                if(cb){
                    animal_type_value = type_select.value
                    for(var i=0; i < ong_animals.length; i++){
                        // If is not our type
                        if(ong_animals[i].fields.animal_type != animal_type_value){
                            // pull ong from map
                            markers[ongs.indexOf(ong_animals[i].fields.ong)].setMap(null) 
                        }else{
                            markers[ongs.indexOf(ong_animals[i].fields.ong)].setMap(map) 
                        }
                    }
                }else{
                    // Reset
                    for(var i=0; i < markers.length; i++){
                        markers[i].setMap(map)
                    }
                    // Call other filter
                    if(cb_age.checked){
                        handleAnimalAge()
                    }
                }
            }

            function handleAnimalAge(){
                cb = cb_age.checked
                if(cb){
                    animal_age_value = age_select.value
                    animal_age_value = animal_age_value.split("-")
                    animal_age_value = [parseInt(animal_age_value[0]),parseInt(animal_age_value[1])]
                    for(var i=0; i < ong_animals.length; i++){
                        // If is not our type
                        if( ong_animals[i].fields.estimated_age < animal_age_value[0] ||ong_animals[i].fields.estimated_age > animal_age_value[1]){
                            // pull ong from map
                            markers[ongs.indexOf(ong_animals[i].fields.ong)].setMap(null) 
                        }else{
                            markers[ongs.indexOf(ong_animals[i].fields.ong)].setMap(map) 
                        }
                    }
                }else{
                    // Reset
                    for(var i=0; i < markers.length; i++){
                        markers[i].setMap(map) 
                    }
                    // Call other filter
                    if(cb_type.checked){
                        handleAnimalType()
                    }
                }
            }


            var cb_type = document.getElementById("type_cb")
            var cb_age = document.getElementById("age_cb")
            var type_select = document.getElementById("animal_type_select")
            var age_select = document.getElementById("animal_age_select")

            type_select.onchange = handleAnimalType;
            age_select.onchange = handleAnimalAge;

        </script>

        <!-- GOOGLE API SCRIPT WITH LICENSE KEY -->
        <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD7BSRwpAGXEK00pw7LMacR_xa5f78xiRU&callback=initMap'> </script>


{% endblock %}


<!-- Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience.

<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(-33.457394, -70.664601);
        var centerOne = new google.maps.LatLng(-33.453291, -70.667269);
        var centerTwo = new google.maps.LatLng(-33.455908, -70.674335);
        var centerThree = new google.maps.LatLng(-33.466617, -70.676903);
        var mapOptions = {center: myCenter, zoom: 15};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var myCity = new google.maps.Circle({
            center: myCenter,
            radius: 15,
            strokeColor: "#0000FF",
            strokeOpacity: 0.7,
            strokeWeight: 2,
            fillColor: "#0000FF",
            fillOpacity: 0.4
        });
        var map = new google.maps.Map(mapCanvas, mapOptions);
        myCity.setMap(map);
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(map, event.latLng);
        });
        var infowindow = new google.maps.InfoWindow({
            content: "ONG Favorita"
        });
        var markerOne = new google.maps.Marker({
            position: centerOne,
            icon: "favorito.png"
        });
        markerOne.setMap(map);
        infowindow.open(map, markerOne);
    }

    function placeMarker(map, location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        var infowindow = new google.maps.InfoWindow({
            content: 'Nombre ONG'
        });
        infowindow.open(map, marker);
    }
</script>
-->
<!-- Mapa de google
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrwK5Ra7Lrbam0i1ifeMrlPHnN1Tctpk&callback=myMap"></script>
-->
