{% extends "User/user-standard.html" %}
{% load static %}

{% block title %}Adopta!{% endblock %}

{% block content-header %}Adoptar{% endblock %}

{% block content %}
        
        <button id="boton" onclick="centerOnUser()">Utilizar mi posicion</button>
        <div id="Gmap" style="height: 500px;">
        </div>

        <script type="text/javascript">
            var map;

            function initMap(){
                map = new google.maps.Map(document.getElementById('Gmap'),{
                    center: {lat: -35.675147, lng: -71.54296899999997}, // Posicion CHILE
                    zoom: 12
                    }
                );

                {% if user.is_authenticated %}
                // Only one icon
                var icon = {
                    url: "/static/images/star-icon.png", // url
                    scaledSize: new google.maps.Size(40, 40), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                }
                {% endif %}

                // Reset the markers
                markers = new Array()
                ongs = new Array()
                infowindows = new Array()

                {% for ong in ongs %}
                    // Create one marker
                    var single_marker = new google.maps.Marker({
                            position: new google.maps.LatLng(
                                    {{ong.lat}}, {{ong.lng}}
                                ),
                            map: map
                            {% if user.is_authenticated %}
                                {% if ong.id in favs %}
                                    ,icon: icon
                                {% endif %}            
                            {% endif %}
                        })
                    markers.push(single_marker)

                    ongs.push({{ong.id}})

                    // Save the name and count animals
                    var infowindow = new google.maps.InfoWindow({
                        content: "{{ong.name}}"
                    })

                    single_marker.addListener('click', function(){
                        infowindow.open(map, single_marker)
                    })

                    infowindows.push(infowindow)
                {% endfor %}

                var json_string = unescape("{{ong_animals | safe | escapejs}}")
                ong_animals = JSON.parse(json_string)

            }

            function centerOnPosition(position){
                console.log(position)
                var myPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)

                map.setCenter(myPosition)

                var userMarker = new google.maps.Marker({
                    position: myPosition,
                    map: map,
                    icon: "/static/images/bluecircle.png"
                });

            }

            function centerOnUser(){
                navigator.geolocation.getCurrentPosition(centerOnPosition,fail)
            }

            function fail(error){
                console.log('Fallo al centrar en posicion: ',error);
            }

            function handleAnimalType(){
                cb = cb_type.checked
                if(cb){
                    animal_type_value = type_select.value
                    for(var i=0; i < ong_animals.length; i++){
                        // If is not our type
                        if(ong_animals[i].fields.animal_type != animal_type_value){
                            // pull ong from map
                            markers[ongs.indexOf(ong_animals[i].fields.ong)].setMap(null) 
                        }else{
                            markers[ongs.indexOf(ong_animals[i].fields.ong)].setMap(map) 
                        }
                    }
                }else{
                    // Reset
                    for(var i=0; i < markers.length; i++){
                        markers[i].setMap(map)
                    }
                    // Call other filter
                    if(cb_age.checked){
                        handleAnimalAge()
                    }
                }
            }

            function handleAnimalAge(){
                cb = cb_age.checked
                if(cb){
                    animal_age_value = age_select.value
                    animal_age_value = animal_age_value.split("-")
                    animal_age_value = [parseInt(animal_age_value[0]),parseInt(animal_age_value[1])]
                    for(var i=0; i < ong_animals.length; i++){
                        // If is not our type
                        if( ong_animals[i].fields.estimated_age < animal_age_value[0] ||ong_animals[i].fields.estimated_age > animal_age_value[1]){
                            // pull ong from map
                            markers[ongs.indexOf(ong_animals[i].fields.ong)].setMap(null) 
                        }else{
                            markers[ongs.indexOf(ong_animals[i].fields.ong)].setMap(map) 
                        }
                    }
                }else{
                    // Reset
                    for(var i=0; i < markers.length; i++){
                        markers[i].setMap(map) 
                    }
                    // Call other filter
                    if(cb_type.checked){
                        handleAnimalType()
                    }
                }
            }


            var cb_type = document.getElementById("type_cb")
            var cb_age = document.getElementById("age_cb")
            var type_select = document.getElementById("animal_type_select")
            var age_select = document.getElementById("animal_age_select")

            type_select.onchange = handleAnimalType;
            age_select.onchange = handleAnimalAge;

        </script>

        <!-- GOOGLE API SCRIPT WITH LICENSE KEY -->
        <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD7BSRwpAGXEK00pw7LMacR_xa5f78xiRU&callback=initMap'> </script>


{% endblock %}


<!-- Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience.

<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(-33.457394, -70.664601);
        var centerOne = new google.maps.LatLng(-33.453291, -70.667269);
        var centerTwo = new google.maps.LatLng(-33.455908, -70.674335);
        var centerThree = new google.maps.LatLng(-33.466617, -70.676903);
        var mapOptions = {center: myCenter, zoom: 15};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var myCity = new google.maps.Circle({
            center: myCenter,
            radius: 15,
            strokeColor: "#0000FF",
            strokeOpacity: 0.7,
            strokeWeight: 2,
            fillColor: "#0000FF",
            fillOpacity: 0.4
        });
        var map = new google.maps.Map(mapCanvas, mapOptions);
        myCity.setMap(map);
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(map, event.latLng);
        });
        var infowindow = new google.maps.InfoWindow({
            content: "ONG Favorita"
        });
        var markerOne = new google.maps.Marker({
            position: centerOne,
            icon: "favorito.png"
        });
        markerOne.setMap(map);
        infowindow.open(map, markerOne);
    }

    function placeMarker(map, location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        var infowindow = new google.maps.InfoWindow({
            content: 'Nombre ONG'
        });
        infowindow.open(map, marker);
    }
</script>
-->
<!-- Mapa de google
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrwK5Ra7Lrbam0i1ifeMrlPHnN1Tctpk&callback=myMap"></script>
-->
